# Environments 
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Git y DVC
.git/
.gitignore
.dvc/cache/
.dvc/tmp/

# DVC outputs
data/
*.csv
*.parquet

# MLflow outputs
mlruns/
*.db
*.sqlite
*.sqlite3
*.log

# IDE and operating system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Documentation and reports
reports/
figures/
docs/
README.md